* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
}

.navbar > h2 {
  font-size: 2em;
  font-weight: 700;
}

.navbar > h2 span {
  color: #eb2121;
}
.container__formulario {
  width: 70%;
  margin: 0 auto;
}

.formulario > input {
  width: 100%;
  height: 40px;
  border: 1.5px solid #000000;
  outline: none;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1em;
  background-color: rgba(211, 100, 100, 0.24);
}

.header {
  width: 100%;
  height: 70vh;
}
.header__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.header__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-header {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000046;
  top: 0;
  left: 0;
  color: white;
  backdrop-filter: blur(0.7px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  gap: 50px;
}

.bg-header .formulario > input {
  height: 50px;
  color: #ffffff;
  background-color: rgba(211, 100, 100, 0.24);
}
.bg-header > h1 {
  font-size: 2.5em;
  width: 80%;
  margin-top: 30px;
}

.galeria {
  margin-top: 80px;
  columns: 5 250px;
  column-gap: 0.5em;
  border-radius: 10px;
  padding: 30px;
  background-color: #eeecec;
}

.galeria img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.errores {
  width: 500px;
  font-size: 30px;
  margin: 80px auto;
  border: 2px solid red;
  background-color: #f5ecec;
  color: red;
  text-transform: capitalize;
  border-radius: 12px;
}

.galeria .div__galeria {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: #c7b7b7;
}
.galeria .div__galeria a {
  background-color: rgb(211, 100, 100);
  padding: 3px 5px;
  font-size: 1.2em;
  text-transform: capitalize;
  border-radius: 10px;
  color: #000000;
  font-weight: 500;
  display: block;
  text-align: center;
}

@media (max-width: 550px) {
  .bg-header > h1 {
    font-size: 1.5em;
    width: 150%;
    margin-top: 30px;
  }
  .navbar > h2 {
    font-size: 1.3em;
    font-weight: 700;
    width: 50%;
  }
  .container__formulario {
    width: 100%;
    margin: 0 auto;
  }
  .formulario > input {
    width: 90%;
  }
}
